@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

/* common styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins";
}
/* header part style starts */
.top-banner {
  width: auto;
  height: 646px;
  border-radius: 50px;
  margin-top: 50px;
  margin-left: 40px;
  background-color: #161616;
}
.header-info {
  display: flex;
  justify-content: space-around;
}
.header-title {
  width: 531px;
  height: 424px;
  margin-left: 106px;
}
.header-image img {
  width: 581px;
  height: 613px;
  margin-top: 23px;
}
.header-title h1 {
  color: #ffffff;
  font-size: 75px;
  font-weight: 700;
  line-height: 80px;
  margin-top: 15%;
}
.header-title p {
  color: #ffffff;
  font-size: 12px;
  line-height: 26px;
  margin-top: 25px;
  margin-bottom: 38px;
}
.header-btn {
  text-decoration: none;
  padding: 16px 25px;
  color: white;
  border-radius: 5px;
  transition: ease-out 0.3s;
  outline: none;
  border: 3px solid #ed2c2c;
  position: relative;
  z-index: 1;
}
.header-btn:before {
  transition: 0.5s all ease;
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  opacity: 0;
  content: "";
  background-color: #ed2c2caf;
}
.header-btn:hover:before {
  transition: 0.5s all ease;
  left: 0;
  right: 0;
  opacity: 1;
}
/* header part style starts */

/* main part starts */
.details {
  display: flex;
}
.upcomingMatches {
  border-radius: 5px;
  width: 312px;
  height: 242px;
  margin-top: 8%;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 24px;
  grid-row-gap: 24px;
}
.match-title {
  font-weight: 600;
  font-size: 20px;
  text-align: center;
}
.small-text {
  color: #4d4d4d;
  text-align: center;
  font-weight: 700;
  font-size: 8px;
}
.matches {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 10px;
}
.first {
  margin-top: 10px;
  padding: 10px;
}
.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #161616;
  width: 312px;
  height: 312px;
  margin-top: 115px;
  margin-left: 140px;
  margin-right: 24px;
  border-radius: 15px;
}
.box a {
  text-decoration: none;
  margin: 20px;
  padding: 10px;
  text-align: center;
  font-size: 20px;
  border-radius: 5px;
}
.normal {
  background-color: #fff;
  color: #161616;
}
.colour {
  background-color: rgb(238, 20, 20);
  color: wheat;
}
.btn a {
  text-decoration: none;
  background-color: rgb(238, 20, 20);
  width: 131px;
  height: 47px;
  padding: 12px 29px;
  color: white;
  border-radius: 5px;
  margin-left: 51%;
  visibility: hidden;
}
/* main part ends */

/* footer part starts */
footer {
  width: 100vw;
  height: auto;
  padding-top: 40px;
}
.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  background-color: #161616;
}
.footer-content h2 {
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 3rem;
  color: #b9b9b9;
  padding-top: 50px;
}
.socials,
.about {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0 3rem 0;
}
.socials li {
  margin: 0 10px;
}
.about li {
  margin: 0 10px;
}
.socials,
.about a {
  text-decoration: none;
  color: #b9b9b9;
}
.socials,
.about a i {
  font-size: 1.1rem;
}
/* footer part ends */

/* responsive for tablet */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .top-banner {
    width: 100%;
    height: auto;
    margin-top: 0;
    margin-left: 0;
  }
  .box {
    flex-direction: row;
    background-color: white;
    margin: 0;
    justify-content: center;
  }
  .box a {
    font-size: 20px;
    border: 2px solid white;
    width: 230px;
    height: 70px;
    padding: 5px 69px;
    text-align: center;
    border: 1px solid rgba(128, 128, 128, 0.199);
  }
  .box .colour {
    background-color: #dd0000;
    color: wheat;
    border: 1px solid #dd0000;
    padding-top: 20px;
  }
  .box #first-one {
    margin-left: 219%;
    padding-bottom: 6px;
  }
  .blogs {
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
  }
  .blog-details {
    left: -21%;
  }
  .upcomingMatches {
    grid-template-columns: repeat(2, 1fr);
    height: 500px;
    margin-top: 17%;
    align-items: center;
    justify-content: center;
  }
  .btn a {
    visibility: visible;
  }
}
/* responsive for mobile */
@media screen and (max-width: 768px) {
  .top-banner {
    width: auto;
    height: auto;
    margin-right: 5%;
  }
  .header-info {
    flex-direction: column;
  }
  .header-image img {
    margin-top: 10%;
  }
  .box {
    background-color: #fff;
    margin-left: 10%;
    justify-content: center;
  }
  .box a {
    font-size: 20px;
    border: 2px solid white;
    width: 210px;
    height: 176px;
    padding: 5px 69px;
    text-align: center;
    border: 1px solid rgba(128, 128, 128, 0.199);
  }
  .details {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .upcomingMatches {
    grid-template-columns: repeat(1, 1fr);
    height: 1000px;
  }
  .blogs {
    grid-template-columns: repeat(1, 1fr);
  }
  .about {
    flex-direction: column;
  }
  .about li {
    padding: 30px;
  }
}
